doctype html
html
  head
    title Mapa das Ruas de Braga
    meta(charset = 'utf-8')
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='stylesheet', href='/stylesheets/jquery.modal.min.css')
    link(rel='stylesheet', href='/stylesheets/icons.css')
    link(rel='icon', href='/api/image/outras/favicon_rua.png')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
  body
    block content
